body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    text-align: center;
}

header {
    background-color: #111;
    padding: 15px;
}

.ghostface-profile {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.ghostface-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.ghostface-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.ghostface-description {
    font-size: 16px;
    margin: 10px 0;
    color: white;
}

.ghostface-movies {
    list-style: none;
    padding: 0;
}

.ghostface-movies li {
    background: red;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    background-color: #111;
    padding: 10px;
    margin-top: 20px;
}



body.dark-mode {
    background-color: #222;
    color: white;
}

.ghostface-profile.dark-mode {
    background: black;
}

.ghostface-name.dark-mode, .ghostface-description.dark-mode {
    color: white;
}

footer.dark-mode {
    background-color: #222;
}
